doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Main
  link(rel='stylesheet', href='css/reset.css')
  link(rel='stylesheet', href='css/variable.css')
  link(rel='stylesheet', href='css/header.css')
  link(rel='stylesheet', href='css/main.css')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  style.
    @import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Metal&family=Racing+Sans+One&display=swap');

block header

block content