header.main_title
  .main_title__left
    img.main_title__left__img(src='임시 로고.png')
    h1.main_title__left__text
      a(href='/') Quiz Maker
  .main_title__right
    ul
      li.main_title__right__mypage
        a(href='/myPage') My Page
      li.main_title__right__login
        a(href='/login') Log In