extends base

block header 
    extends header 

block content
    main.main_section
    form(action='/', method='get')
        article.main_section__text_input
        textarea.main_section__text_input__place(name='mainContent', placeholder='생성할 문제의 주제를 입력 후 문제 유형과 문제 개수를 선택해주세요!', required='')
        article.main_section__selection
        .main_section__selection__quiz_category
            h3 문제 유형
            div
            button.btn1(type='button') 주관식
            button.btn2(type='button') 객관식
            button.btn3(type='button') O / X
            input#one(name='quizCategory', type='radio', value='textQuiz', required='')
            input#two(name='quizCategory', type='radio', value='numberQuiz', required='')
            input#three(name='quizCategory', type='radio', value='oxQuiz', required='')
        .main_section__selection__quiz_count
            h3 문제 개수 선택
            input(name='quizCount', type='range', min='1', max='5', value='1', list='tickmarks', required='')
            datalist#tickmarks
            option(value='1')
            option(value='2')
            option(value='3')
            option(value='4')
            option(value='5')
            div
            h6 1
            h6 5
        input.main_section__text_input__submit(type='submit', value='제출')
    script(src='js/script.js')
